<div class="container">
  <img class="logo" alt="bezi" src="../assets/bezi.png"/>
  <div class="chat">
    <div class="chat_list" #chat_list>
      <ng-container *ngFor="let message of items$ | async">
        <div class="message">
          {{message.user + ': ' + message.message}}
        </div>
      </ng-container>
    </div>
    <div *ngIf="(login$ | async).length > 0" class="chat_send">
      <div class="input">
        <label for="send_chat">Message</label>
        <input [(ngModel)]="message" id="send_chat" (keypress)="keypress($event)"/>
      </div>
      <button (click)="addMessage()">
        Send
      </button>
    </div>
    <div *ngIf="(login$ | async).length === 0" class="chat_send">
      <div class="input">
        <label for="type_nick">Type login</label>
        <input [(ngModel)]="nick" id="type_nick"/>
      </div>
      <button (click)="saveNick()">
        Save
      </button>
    </div>
  </div>
</div>
